@import 'resets.scss';

html {
    height: 100%;
}
body {
    font-family: helvetica;
    font-weight: lighter;
    color: #FFF;
    height: 100%;
}

#view-container {
    height: 100%;
}

/*Animation Prefs*/
@-webkit-keyframes pulse {
      0% {background-color: #418EB4;}
     25% {background-color: #5E8F3E;}
     50% {background-color: #CFA154;}
     75% {background-color: #B2493E;}
     100% {background-color: #414789;}
}

/*Body Styles*/
body {
    -webkit-animation: pulse 80s infinite alternate;
    background-color: #45CEEF;
}

nav {
    border: 2px solid #FFF;
    padding: 10px;
    margin: 10px;
    float: left;
    height: 90%;

    div {
        border: 2px solid #FFF;
        padding: 10px;
    }

    .file {
        color: #FFF;
        cursor: pointer;
        margin: 5px;
        display: block;
        border: none;
        padding: none;

        a {
            color: #FFF;
            font-size: 20px;
        }

        span {
            margin-left: 15px;
            border: 1px solid #FFF;
            height: 20px;
            width: 20px;
            display: inline-block;
            border-radius: 10px;
            text-align: center;
            margin-top: 0px;
        }
    }

}

textarea {
    width: 80%;
    border: 2px solid #FFF;
    height: 90%;
    background: none;
    margin: 10px;
    color: #FFF;
    font-size: 18px;
    outline: none;
    padding: 10px;
}

h1 {
    text-align: center;
    padding-top: 10%;
    font-size: 50px;
}

h2 {
    text-align: center;
    font-size: 25px;
    width: 60%;
    margin: 20px 15% 0px 25%;
}